name: Build JAR

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8   # safer for Forge 1.8.9

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build project
        run: ./gradlew clean build

      - name: Upload mod JAR
        uses: actions/upload-artifact@v4
        with:
          name: forge-mod
          path: build/libs/*.jar
