name: Build JAR

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build project
        run: ./gradlew clean build copyDependencies

      - name: Upload artifacts (jar + dependencies)
        uses: actions/upload-artifact@v4
        with:
          name: forge-style-jar
          path: |
            build/libs/*.jar
            build/dependencies/*.jar
